*************************************************************************************************
*                                                                                               *
* DRILL TAPE SUMMARY REPORT                                                                     *
*                                                                                               *
* D:\UTENTI\00.CAD\00.PROGETTI\METALTRONICA\22-302-0 (DIMOBIS)\22-302-0 (DIMOBIS)\22-302-0.MAX  *
* Thu May 25 16:36:34 2023                                                                      *
*                                                                                               *
*************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       293      200      100                                                                                 
T2       315      33       200      100                                                                                 
T3       433      34       200      100                                                                                 
T4       472      23       200      100                                                                                 
T5       512      2        200      100                                                                                 
T6       630      2        200      100                                                                                 
T7       1063     5        200      100                                                                                 
